.home-container {
  height: 100%;

  h1 {
    color: black;
  }

  h2 {
    padding: 45px;
    text-align: center;
  }
}

.photo {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: url("../../../public/images/photo1.jpeg");

  div {
    width: 100%;
    background-color: rgba(243, 243, 243, 0.879);
    box-shadow: 0 1px 10px 0 rgb(0 0 0 / 5%);
    transition: ease-in 2s;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    -webkit-animation: scale-in-hor-left 0.5s
      cubic-bezier(0.55, 0.055, 0.675, 0.19) both;
    animation: scale-in-hor-left 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19)
      both;
    animation-delay: 0.5s;
    padding: 5px;

    h1 {
      padding: 0;
      margin: 0;
      text-align: center;
      -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation-delay: 1s;
    }

    h2 {
      padding: 0;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 10px;
      -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      animation-delay: 1.5s;
    }

    h3 {
      padding: 0;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 10px;
      -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both, heartbeat 2.5s ease-in-out infinite both;
      animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both, heartbeat 2.5s ease-in-out infinite both;
      animation-delay: 2.5s;
      font-weight: 700;
      cursor: pointer;

    }
  }
}

.info-1 {
  display: flex;
  justify-content: center;
  padding: 70px 40px;
  flex-direction: column;

  h2 {
    padding: 0 0 45px;
    text-align: left;
    font-size: 41px;
    margin: 0;
  }

  img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
  }

  .tittle-1 {
    position: relative;
    display: flex;
    z-index: 1;
    width: 100%;
    justify-content: center;

    h2 {
      position: absolute;
      font-size: 18px;
      padding: 20px;
      margin: 0;
      text-transform: uppercase;
    }
  }

  .paragraph-1 {
    p {
      margin: 20px 0;
      text-align: center;
    }
  }
}

.info-2 {
  display: flex;
  justify-content: center;
  padding: 0 40px 70px;
  flex-direction: column;

  h2 {
    padding: 0 0 45px;
    text-align: left;
    font-size: 41px;
    margin: 0;
  }

  img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
  }

  .tittle-2 {
    position: relative;
    display: flex;
    z-index: 1;
    width: 100%;
    justify-content: center;

    h2 {
      position: absolute;
      font-size: 18px;
      padding: 20px;
      margin: 0;
      text-transform: uppercase;
    }
  }

  .paragraph-2 {
    p {
      margin: 20px 0;
      text-align: center;
    }
  }
}

.info-3 {
  display: flex;
  justify-content: center;
  padding: 0 40px 70px;
  flex-direction: column;
  align-items: center;

  h2 {
    padding: 0 0 45px;
    text-align: left;
    font-size: 41px;
    margin: 0;
  }

  img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
  }

  .tittle-3 {
    position: relative;
    display: flex;
    z-index: 1;
    width: 100%;
    justify-content: center;

    h2 {
      position: absolute;
      font-size: 18px;
      padding: 20px;
      margin: 0;
      text-transform: uppercase;
    }
  }

  .paragraph-3 {
    p {
      margin: 20px 0;
      text-align: center;
    }
  }
}

@media screen and (min-width: 500px) {
  .info-1 {
    position: relative;

    img {
      height: 28vw;
    }

    p {
      font-size: 2vw;
      margin: 20px 0 0;
    }

    .tittle-1 {
      position: relative;
      display: flex;
      z-index: 1;
      width: 70%;
      justify-content: flex-start;
    }

    .description-box {
      position: absolute;
      z-index: 2;
      width: 50%;
      padding: 70px 40px;
      right: 0;
      top: 0;
      height: 70%;

      h2 {
        text-align: right;
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-size: 5vw;
      }
    }
  }

  .info-2 {
    position: relative;

    img {
      height: 28vw;
      width: 70%;
    }

    p {
      font-size: 2vw;
      margin: 20px 0 0;
    }

    .tittle-2 {
      position: relative;
      display: flex;
      z-index: 1;
      width: 100%;
      justify-content: flex-end;
    }

    .description-box {
      position: absolute;
      z-index: 2;
      width: 50%;
      padding: 0 40px;
      left: 0;
      top: 0;
      height: 70%;

      h2 {
        text-align: left;
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-size: 5vw;
      }
    }
  }

  .info-3 {
    position: relative;

    img {
      height: 57vw;
      width: 70%;
    }

    p {
      font-size: 2vw;
      margin: 20px 0 0;
    }

    .tittle-3 {
      position: relative;
      display: flex;
      z-index: 1;
      width: 100%;
      justify-content: flex-start;
    }

    .nav-link {
      width: min-content;
      font-size: 2vw;
      padding: 0;
    }

    .description-box {
      position: absolute;
      z-index: 2;
      width: 50%;
      padding: 0 40px;
      right: 0;
      top: 0;
      height: 70%;

      h2 {
        text-align: right;
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-size: 5vw;
      }
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
